* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* VARIABLES */
:root {
    --branco: #fff;
    --cinza: #999;
    --cinza-escuro: #444;
    --preto: #000;
    --azul-escuro: #284b63;
    
    --color-anemo: #26a684;
    --color-geo: #e8b81a;
    --color-electro: #9336b0;
    --color-dendro: #74c503;
    --color-hydro: #3173ff;
    --color-pyro: #e03a28;
    --color-cryo: #a3d1ff;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 8vh;
}
body {
    font-family: sans-serif;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* CLASS RESPONSIBLE FOR GIVING EFFECT TO THE HEADER WHEN SCROLLING THE PAGE */
header.sticky {
    height: 10vh;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.4);
}
/* HEADER STYLE */
.header {
    width: 100%;
    height: 12vh;
    position: fixed;
    top: 0;
    padding: 0 40px;
    display: flex;
    transition: 0.5s ease;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo a{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.logo .icon-logo{
    color: var(--branco);
    font-size: 2rem;
    --ionicon-stroke-width: 3rem;
    margin-right: 5px;
}

.logo h1{
    color: var(--branco);
}
.menu ul {
    display: flex;
    list-style: none;
}
.menu li a {
    color: var(--branco);
    padding: 0.2rem 0.5rem;
    margin-left: 20px;
    transition: .2s ease;
    text-decoration: none;
    position: relative;
}
.menu li a::after {
    content: '';
    background-color: var(--branco);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.1rem;
    width: 0;
    transition: .2s ease;
}
.menu li a:hover, .menu li a:hover::after {
    cursor: pointer;
    width: 100%;
}
/* SECTION HOME SCREEN */
.homescreen {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homescreen h1 { 
    color: var(--branco);
    font-size: 4rem;
    text-align: center;
    animation: show-title 1s ease both 1S;
}
/* ANIMATION OF ELEMENTS INSIDE THE HOME SCREEN */
@keyframes show-title {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        margin-top: -80px;
        text-shadow: 0 2px 0 #222, 0 4px 0 #222, 0 6px 0 #222, 0 8px 0 #222;
    }
}
/* MAIN */
.content{
    box-shadow: 0 0 20px rgb(0,0,0,0.6);
    background-color: var(--branco);
    width: 90vw;
    margin: 0 auto 50px auto;
    border-radius: 1rem;
    padding-bottom: 50px;
}
/* STYLING OF TAGS INSIDE CONTENT CLASS */
.content section{
    width: 90%;
    margin: 50px auto;
}
.content h1 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--azul-escuro);
}
.content p {
    text-align: justify;
    line-height: 1.5rem;
    color: var(--preto);
}
.content hr{
    border: 0;
    height: 5px;
    width: 60%;
    margin: 0 auto;
    background: linear-gradient(to right, transparent, var(--azul-escuro),transparent);
}
/* BUTTON INSIDE OF CONTENT CLASS*/
.content .btn{
    text-decoration: none;
    color: var(--azul-escuro);
    padding: 1rem 2rem;
    border: 1px solid var(--azul-escuro);
    font-weight: bold;
    display: inline-block;
    border-radius: 1rem;
    transition: .4s ease;
}
.content .btn:hover{
    background-color: var(--azul-escuro);
    color: var(--branco);
}
/*SECTION PROLOGUE WITH FLEXBOX */
.prologue{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 50px;
    align-items: center;
}
.prologue .column-info{
    flex: 1;
}
.prologue .column-img{
    background-color: var(--cinza);
    border-radius: 1rem;
    flex: 1;
}
.prologue .column-img img{
    width: 100%;
    position: relative;
    top: 20px;
    left: 20px;
    box-shadow: 0 0 20px rgb(0,0,0,0.5);
    border-radius: 1rem;
}
/* SECTION NATIONS */
.nations{
    text-align: center;
    padding: 30px 50px;
}
.nations p{
    width: 80%;
    margin: 0 auto;
}
/* PHOTO GALLERY OF EACH NATION WITH GRID */
.nations-galery{
    display: grid;
    grid-template-areas:
    'mondstadt liyue'
    'inazuma sumeru'
    'fontaine natlan'
    'snezhnaya snezhnaya';
    background-color: var(--cinza);
    border-radius: 1rem;
}
.nations-galery-title{
    text-align: center;
    margin: 50px 0 20px 0;
}
.nations-galery .nations-img{
    max-height: 300px;
    aspect-ratio: 16/9;
    border-radius: 1rem 1rem 0 0;
}
.nations-galery .nation{
    padding: 20px;
    filter: drop-shadow(0 0 20px rgba(0,0,0,0.5));
}
.nations-galery .nation .caption{
    background-color: var(--branco);
    display: block;
    padding: 10px;
    position: relative;
    top: -10px;
    border-radius: 0 0 1rem 1rem;
}
.nations-galery .mondstadt{
    grid-area: mondstadt;
}
.nations-galery .liyue{
    grid-area: liyue;
}
.nations-galery .inazuma{
    grid-area: inazuma;
}
.nations-galery .sumeru{
    grid-area: sumeru;
}
.nations-galery .fontaine{
    grid-area: fontaine;
}
.nations-galery .natlan{
    grid-area: natlan;
}
.nations-galery .snezhnaya{
    grid-area: snezhnaya;
    justify-self: center;
}
/* SECTION ELEMENTS */
.elements{
    padding-top: 30px;  
    width: 100vw;
}
/* ELEMENTS LISTED SIDE BY SIDE WITH FLEXBOX*/
.elements-container{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}
.elements-container .elements-card{
    width: 150px;
    display: inline-block;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgb(0,0,0,0.2);
    transition: all .2s;
}
.elements-container .elements-card img{
    width: 100%;
    margin-bottom: 10px;
}
.elements-card:hover{
    cursor: pointer;
    transform: translateY(-10px);
}
/* HOVER EFECT IN ELEMENTS CARDS*/
.elements-card:nth-child(1):hover{
    color: var(--color-pyro);
    box-shadow: 0 0 10px var(--color-pyro);
}
.elements-card:nth-child(2):hover{
    color: var(--color-hydro);
    box-shadow: 0 0 10px var(--color-hydro);
}
.elements-card:nth-child(3):hover{
    color: var(--color-anemo);
    box-shadow: 0 0 10px var(--color-anemo);
}
.elements-card:nth-child(4):hover{
    color: var(--color-electro);
    box-shadow: 0 0 10px var(--color-electro);
}
.elements-card:nth-child(5):hover{
    color: var(--color-dendro);
    box-shadow: 0 0 10px var(--color-dendro);
}
.elements-card:nth-child(6):hover{
    color: var(--color-cryo);
    box-shadow: 0 0 10px var(--color-cryo);
}
.elements-card:nth-child(7):hover{
    color: var(--color-geo);
    box-shadow: 0 0 10px var(--color-geo);
}
.elements p{
    width: 80%;
    margin: 0 auto;
}
/* ELEMENTS WITH THEIR RESPECTIVE COLORS IN THE P TAG INSIDE THE PARAGRAPH */
.elements-names:nth-child(1){
    color: var(--color-pyro);
}
.elements-names:nth-child(2){
    color: var(--color-hydro);
}
.elements-names:nth-child(3){
    color: var(--color-anemo);
}
.elements-names:nth-child(4){
    color: var(--color-electro);
}
.elements-names:nth-child(5){
    color: var(--color-dendro);
}
.elements-names:nth-child(6){
    color: var(--color-cryo);
}
.elements-names:nth-child(7){
    color: var(--color-geo);
}
/*SECTION CHARACTERS WITH FLEXBOX */
.characters{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding: 50px;
}
.characters .column-info{
    flex: 1;
    text-align: center;
}
.characters .column-img{
    background-color: var(--cinza);
    border-radius: 1rem;
    flex: 1;
}
.characters .column-img img{
    width: 100%;
    position: relative;
    top: -20px;
    right: 20px;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgb(0,0,0,0.5);
}
/* FOOTER */
.footer{
    background-color: var(--cinza-escuro);
    color: var(--branco);
}
.footer-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 50px;
}
.footer-info .column{
    justify-self: center;
}
.footer-info .about{
    text-align: justify;
}
.footer-info .column h2{
    position: relative;
    display: inline-block;
    margin-bottom: 1rem;
}
.footer-info .column h2::after{
    content: '';
    background-color: var(--branco);
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 150%;
}
.footer-info .links li{
    margin: 10px 0;
    list-style: none;
}
.footer-info .links a{
    color: var(--branco);
    text-decoration: none;
}
.footer .copyright{
    text-align: center;
    padding: 10px;
}