* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* VARIABLES */
:root {
    --branco: #fff;
    --cinza: #808080;
    --cinza-escuro: #353535;
    --preto: #000;
    --azul-escuro: #284b63;
    
    --color-anemo: #26a684;
    --color-geo: #e8b81a;
    --color-electro: #9336b0;
    --color-dendro: #74c503;
    --color-hydro: #3173ff;
    --color-pyro: #e03a28;
    --color-cryo: #a3d1ff;
}
html, body {
    scroll-behavior: smooth;
    scroll-padding-top: 6vh;
}
body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}
/* CLASS RESPONSIBLE FOR GIVING EFFECT TO THE HEADER WHEN SCROLLING THE PAGE */
header.sticky {
    height: 10vh;
    background-color: var(--azul-escuro);
}
/* HEADER STYLE */
.header {
    width: 100%;
    height: 12vh;
    position: fixed;
    top: 0;
    padding: 0 40px;
    transition: 0.5s ease;
    z-index: 1;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo{
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo .icon-logo{
    color: var(--branco);
    font-size: 2rem;
    --ionicon-stroke-width: 3rem;
    margin-right: 5px;
}

.logo h1{
    color: var(--branco);
    letter-spacing: 4px;
}
/* MENU INSIDE NAVBAR CLASS*/
.nav-list {
    display: flex;
    list-style: none;
}
.nav-list li a {
    color: var(--branco);
    padding: 0.2rem 0.5rem;
    margin-left: 20px;
    transition: .2s ease;
    text-decoration: none;
    position: relative;
}
.nav-list li a::after {
    content: '';
    background-color: var(--branco);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.1rem;
    width: 0;
    transition: .2s ease;
}
.nav-list li a:hover, .nav-list li a:hover::after {
    cursor: pointer;
    width: 100%;
}
/* MOBILE MENU INSIDE NAVBAR CLASS*/
.mobile-menu-icon{
    display: none;
}
.mobile-menu-icon ion-icon{
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 1;
    position: relative;
}
.mobile-nav-list{
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 10vh;
    list-style: none;
    text-align: center;
    background-color: var(--azul-escuro);
    z-index: 0;
    transform: translateY(calc(-100% - 10vh));
}
.mobile-nav-list.open{
    animation: open-menu .8s ease forwards;
}
.mobile-nav-list.close{
    animation: close-menu .8s ease forwards;
}
@keyframes open-menu {
    0%{
        transform: translateY(calc(-100% - 10vh));
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes close-menu {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(calc(-100% - 10vh));
    }
}
.mobile-nav-list li{
    width: 100vw;
    padding: 1.5rem;
}
.mobile-nav-list li a{
    text-decoration: none;
    color: var(--branco);
    height: 100px;
    padding: .5rem;
}

/* SECTION HOME SCREEN */
.homescreen {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homescreen h1 { 
    color: var(--branco);
    font-size: 4rem;
    text-align: center;
    animation: show-title 1s ease both .5s;
}
/* ANIMATION OF ELEMENTS INSIDE THE HOME SCREEN */
@keyframes show-title {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        margin-top: -80px;
        text-shadow: 0 2px 0 #222, 0 4px 0 #222, 0 6px 0 #222, 0 8px 0 #222;
    }
}
/* BUTTON TO GO TO TOP OF PAGE */
.to-top ion-icon{
    position: fixed;
    right: 20px;
    bottom: 40px;
    background-color: var(--cinza-escuro);
    height: 80px;
    width: 80px;
    color: var(--branco);
    border-radius: 1rem;
    display: block;
}
/* MAIN */
.content{
    box-shadow: -10px -10px 10px rgba(255, 255, 255);
    background-color: var(--branco);
    width: 100vw;
    margin: 0 auto;
    padding-bottom: 50px;
}
/* STYLING OF TAGS INSIDE CONTENT CLASS */
.content section{
    width: 80%;
    margin: 0 auto;
    padding: 50px;
}
.content h1 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--azul-escuro);
}
.content p {
    line-height: 1.5rem;
    color: var(--preto);
    text-align: justify;
}
.content hr{
    border: 0;
    height: 5px;
    width: 60%;
    margin: 0 auto;
    background: linear-gradient(to right, transparent, var(--azul-escuro),transparent);
}
/* BUTTONS INSIDE CONTENT CLASS*/
.content .btn{
    text-decoration: none;
    color: var(--azul-escuro);
    padding: 1rem 2rem;
    border: 1px solid var(--azul-escuro);
    font-weight: bold;
    display: inline-block;
    border-radius: 1rem;
    transition: .4s ease;
}
.content .btn:hover{
    background-color: var(--azul-escuro);
    color: var(--branco);
}
/*SECTION PROLOGUE WITH FLEXBOX */
.prologue{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
}
.prologue .column-info{
    flex: 1;
}
.prologue .column-img{
    background-color: var(--cinza);
    border-radius: 1rem;
    flex: 1;
    width: 100%;
}
.prologue .column-img img{
    width: 100%;
    position: relative;
    top: 20px;
    left: 20px;
    box-shadow: 0 0 20px rgb(0,0,0,0.5);
    border-radius: 1rem;
}
/* SECTION NATIONS */
.nations{
    text-align: center;
}
.nations p{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
/* PHOTO GALLERY OF EACH NATION WITH GRID */
.nations-galery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
.nations-galery-title{
    text-align: center;
    margin: 50px 0;
}
.nations-galery .nation{
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));
}
.nations-galery .nations-img{
    border-bottom: 0;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 1rem 1rem 0 0;
}
.nations-galery .nation .caption{
    background-color: var(--cinza-escuro);
    color: var(--branco);
    font-size: 1.2rem;
    display: block;
    margin-top: -5px;
    padding: 10px;
    width: 100%;
    border-radius: 0 0 1rem 1rem;
}
.nations-galery .snezhnaya{ 
    grid-column: span 2;
    width: 50%;
    justify-self: center;
}
/* SECTION ELEMENTS */
.elements{ 
    width: 100vw;
}
.elements p{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
/* ELEMENTS LISTED SIDE BY SIDE WITH FLEXBOX*/
.elements-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px auto;
    gap: 1rem;
    width: 100%;
}
.elements-container .elements-card{
    width: 110px;
    display: inline-block;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgb(0,0,0,0.2);
    transition: all .2s;
    cursor: pointer;
}
.elements-container .elements-card img{
    width: 100%;
}
.elements-card:hover{
    transform: translateY(-10px);
}
/* HOVER EFECT IN ELEMENTS CARDS*/
.elements-card.pyro:hover{
    color: var(--color-pyro);
    box-shadow: 0 2px 6px var(--color-pyro);
}
.elements-card.hydro:hover{
    color: var(--color-hydro);
    box-shadow: 0 2px 6px var(--color-hydro);
}
.elements-card.anemo:hover{
    color: var(--color-anemo);
    box-shadow: 0 2px 6px var(--color-anemo);
}
.elements-card.electro:hover{
    color: var(--color-electro);
    box-shadow: 0 2px 6px var(--color-electro);
}
.elements-card.dendro:hover{
    color: var(--color-dendro);
    box-shadow: 0 2px 6px var(--color-dendro);
}
.elements-card.cryo:hover{
    color: var(--color-cryo);
    box-shadow: 0 2px 6px var(--color-cryo);
}
.elements-card.geo:hover{
    color: var(--color-geo);
    box-shadow: 0 2px 6px var(--color-geo);
}
.elements-container #modal-fade{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10; 
    display: none;
}
.elements-container .elements-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    border: none;
    padding: 20px;
    z-index: 11;
}
.elements-container .elements-modal .modal-title{
    display: flex;
    justify-content: space-between;
}
.elements-container .elements-modal .modal-close{
    font-size: 2rem;
    color: var(--preto);
    cursor: pointer;
    z-index: 1;
    position: relative;
}
.elements-container .elements-modal .modal-text{
    
}
.elements-container .element-modal .modal-close{
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 1;
    position: relative;
}

/* ELEMENTS WITH THEIR RESPECTIVE COLORS IN THE P TAG INSIDE THE PARAGRAPH */
.color-text-pyro{
    color: var(--color-pyro);
}
.color-text-hydro{
    color: var(--color-hydro);
}
.color-text-anemo{
    color: var(--color-anemo);
}
.color-text-electro{
    color: var(--color-electro);
}
.color-text-dendro{
    color: var(--color-dendro);
}
.color-text-cryo{
    color: var(--color-cryo);
}
.color-text-geo{
    color: var(--color-geo);
}
/*SECTION CHARACTERS WITH FLEXBOX */
.characters{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
}
.characters .column-info{
    flex: 1;
    text-align: center;
}
.characters .column-img{
    background-color: var(--cinza);
    border-radius: 1rem;
    flex: 1;
    height: 100%;
}
.characters .column-img img{
    width: 100%;
    position: relative;
    top: -20px;
    right: 20px;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgb(0,0,0,0.5);
}
/* FOOTER */
.footer{
    background-color: var(--cinza-escuro);
    color: var(--branco);
}
.footer-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 50px;
}
.footer-info .column{
    justify-self: center;
}
.footer-info .about{
    text-align: justify;
}
.footer-info .column h2{
    position: relative;
    display: inline-block;
    margin-bottom: 1rem;
}
.footer-info .column h2::after{
    content: '';
    background-color: var(--branco);
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 150%;
}
.footer-info .links li{
    margin: 10px 0;
    list-style: none;
    display: flex;
    align-items: center;
}
.footer-info .links ion-icon{
    font-size: 1.5rem;
    margin-right: 5px;
}
.footer-info .links a{
    color: var(--branco);
    text-decoration: none;
}
.footer-info .links a:hover{
    text-decoration: underline;
}
.footer .copyright{
    text-align: center;
    padding: 10px;
}